.tags*
.clang_complete
.installed
.vimrc.dir
.vimsession
.note.md
.note.yml
.gdb_history
__pycache__
*.pyc
.pyenv
.ccls-cache
.mypy_cache
.env
.eslintcache
.eslintrc.json
.jshintrc
*.egg-info
node_modules
*.diff
*.ignore
.nvim.lua
