[user]
    email = cw@reosource.io
    name = Cameron Wong
[push]
    default = simple
    autoSetupRemote = true
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    sw = switch
    sub = submodule
    down = "!git remote update -p; git merge --ff-only @{u}"
    up = push
    sdiff = "diff --cached"
    aa = "add -A"
    cl = "!git clean -fdx -e \"**/tasks.py\" -e \"**/.env\""
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
